*,*::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }


.face{
    display: flex;
    align-items: center;
    margin-top: -125px;
    margin-left: 70px;
}

#main1{
    display: flex;
margin-top: 620px;
margin-left: 30px;
}

#main2{
    display: flex;
    margin-top: 50px;
    margin-left: -390px;
}

#main3{
    z-index: -100;
    display: flex;
    margin-top: 170px;
    margin-left:-100px;    
}

#bPart{
    display: flex;
    height: 193px;
    width: 1519px;
    margin-top: -120px;

}

.art{
    display: flex;
    flex-direction: row;
    background-color: black;

}

.artHead{
    display: flex;
    font-size: 48px;
    color:white;  
    transform:rotate(-90deg);
    margin-left: 250px;
    font-family: Arial, Helvetica, sans-serif;
}

.albomes{
    display: flex;
    padding-right: 200px;
    margin-left: -200px;
}

.groupAlbomes{
    display: flex;
    flex-direction: column;
    padding:50px;
    gap:70px;
}

.urls{
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    gap: 50px;
}

.vkmsc{
    width: 246px;
    height: 80px;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("assets/vk.png");
    border: none;
}

.applemsc{
    width: 248px;
    height: 80px;
    background-color: rgba(0, 0, 0, 0);;
    background-image: url("assets/apple.png");
    border: none;
}

.youtubemsc{
    width: 256px;
    height: 80px;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("assets/youtube.png");
    border: none;
}

.yandexmsc{
    width: 262px;
    height: 80px;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("assets/yandex.png");
    border: none;

}

.cncrtHead{
    display: flex;
    font-size: 74px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 60px;
}

.slider{
    display: flex;
    margin-top: -1px;
}

.cityList1>a{
    text-decoration: none;
    text-align: center;
    color:white;
}

.cityList1{
    display: flex;
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
    gap: 50px;
}

.concerts{
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
    background-image: url("assets/cncrt_background.png");
}


.lists{
    display: flex;
    flex-direction: row;
    gap: 180px;
}

.ticket_button{
    width: 300px;
    height: 70px;
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
    color: white;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 60px;
    border: none;
}

#s1{


    margin-bottom: 70px;
}



.mrch1{
    width: 282px;
    height: 468px;
    border-radius: 5px;
    background-image: url("assets/mrch1.png");
}

.mrch2{
    width: 297px;
    height: 466px;
    border-radius: 5px;
    background-image: url("assets/mrch2.png");
}

.mrchPage{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mrchHead{
    display: flex;
    margin-left: 70px;
    font-size: 74px;
    font-family: Arial, Helvetica, sans-serif;
}

.mrchRow{
    display: flex;
    flex-direction: raw;
    align-items: center;
    gap:100px;
    padding: 52px;
}

.mrchTxt{
    display: flex;
    margin-left: 70px;
    font-size: 36px;
    
    
    font-family: Arial, Helvetica, sans-serif;
}

.urlMrch{
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.urlButton{
    display: flex;
    background-image: url("assets/mrchButton.png");
    background-color: rgba(0, 0, 0, 0);
    width: 127px;
    height: 127px;
    margin-left: 90px;
    border-style: none;
    padding: 20px;
}

.more{
    display: flex;
    margin-left: 75px;
}

.payday{
    z-index: 1000;
    width: 221px;
    height: 221px;
    border:none;
    background-color: rgba(0,0,0,0);
    background-image: url("assets/payday.png");
}

.moodblood{
    z-index: 1000;
    width: 221px;
    height: 221px;
    border:none;
    background-color: rgba(0,0,0,0);
    background-image: url("assets/moodblood.png");
}

.antiwrld{
    z-index: 1000;
    width: 221px;
    height: 221px;
    border:none;
    background-color: rgba(0,0,0,0);
    background-image: url("assets/antiwrld.png");
}

.raw{
    z-index: 1000;
    width: 221px;
    height: 221px;
    border:none;
    background-color: rgba(0,0,0,0);
    background-image: url("assets/rawww.png");
}

.cityList1>a:hover{
    transform:translate(-5px, -5px);
    text-shadow: 2px 2px 5px white;
}



.payday:hover{
    background-image: url("assets/paydayPlay.png");
}

.moodblood:hover{
    background-image: url("assets/moodbloodPlay.png");
}

.antiwrld:hover{
    background-image: url("assets/antiwrldPlay.png");
}

.raw:hover{
    background-image: url("assets/rawwwPlay.png");
}

.vkmsc:hover{
    transform:translate(-3px, -3px);
    filter: drop-shadow(0px 0px 7px rgba(255, 255, 255, 0.675));
}

.yandexmsc:hover{
    transform:translate(-3px, -3px);
    filter: drop-shadow(0px 0px 7px rgba(255, 255, 255, 0.675));
}

.youtubemsc:hover{
    transform:translate(-3px, -3px);
    filter: drop-shadow(0px 0px 7px rgba(255, 255, 255, 0.675));
}

.applemsc:hover{
    transform:translate(-3px, -3px);
    filter: drop-shadow(0px 0px 7px rgba(255, 255, 255, 0.675));
}

.ticket_button:hover{
    background-color: rgb(191, 46, 47);
    color: rgb(255, 255, 255);
    filter: drop-shadow(0px 0px 7px rgba(255, 255, 255, 0.675));    
}

.urlButton:hover{
    filter: drop-shadow(5px 5px 7px rgba(5, 5, 0, 0.925));    
}


.radio{
    display:none;
}
.bad{
    display: block;
    width: 26px;
    height: 26px;
    background-image: url("assets/bad.png");
    position: relative;
}

.bad::before{
    content:"";
    position: absolute;
    display: block;
    width: 26px;
    height: 26px;
    background-image: url("assets/badchoose.png");
    opacity: 0;
    transition: 0.3s;
}

.radio:checked+.bad::before{
opacity: 1;
}

.good{
    display: block;
    width: 26px;
    height: 26px;
    background-image: url("assets/good.png");
    position: relative;
}

.good::before{
    content:"";
    position: absolute;
    display: block;
    width: 26px;
    height: 26px;
    background-image: url("assets/googchoose.png");
    opacity: 0;
    transition: 0.3s;
}

.radio:checked+.good::before{
opacity: 1;
}

.perfect{
    display: block;
    width: 26px;
    height: 26px;
    background-image: url("assets/perfect.png");
    position: relative;
}

.perfect::before{
    content:"";
    position: absolute;
    display: block;
    width: 26px;
    height: 26px;
    background-image: url("assets/perfectcoose.png");
    opacity: 0;
    transition: 0.3s;
}

.radio:checked+.perfect::before{
opacity: 1;
}

.ratingPanel{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding-left: 65px;
    margin-top: -40px;
}

.sendbtn{
    width: 300px;
    height: 70px;
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
    color: white;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
}

.sendbtn:hover{
    background-color: rgb(191, 46, 47);
    color: rgb(255, 255, 255);
    filter: drop-shadow(0px 0px 7px rgba(255, 255, 255, 0.675));   
}